out
dist
node_modules
.vscode-test/
*.vsix
.env
.vscode/**
.vscode-test/**
out/**
node_modules/**
utils/message
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
